---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: image-validation-webhook-role
rules:
- apiGroups:
  - ""
  resources:
  - pods/exec
  - pods
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch